:root {
  --primary-colour: #00c;
  --secondary-colour: #555;
  --inverse-colour: #fff;
  --container-max-width: 40rem;
  --nav-font-size: 1rem;
  --nav-tab-vertical-padding: 0.75rem;
  --nav-tab-horizontal-padding: 1.25rem;
  --nav-tab-gap: 0.25rem;
  --nav-tab-radius-amount: 0.5rem;
  --nav-active-font-size: 1.25rem;
  --nav-active-tab-vertical-padding: 1rem;
  --nav-active-tab-horizontal-padding: 2rem;
  --article-padding: 1rem;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



.heading {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  max-width: var(--container-max-width);
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.heading_page__home {
  background-color: var(--secondary-colour);
}
.heading_pircing__active {
  background-color: var(--primary-colour);

}
.heading_page__about {
  background-color: var(--secondary-colour);
}
.heading_page__contact {
  background-color: var(--secondary-colour);
}
.heading_page__help{
  background-color: var(--secondary-colour);

}
.heading_page__help a {
  color: var(--inverse-colour);
  text-decoration: none;
}


.container {
  padding-inline-start: var(--article-padding);
  max-width: var(--container-max-width);
  background-color: var(--primary-colour);
}
.container--plan {
  color: var(--inverse-colour);
  padding: var(--article-padding);
}
.container__suggestion {
  color: var(--inverse-colour);
}
.container__information {
  color: var(--inverse-colour);

}

a {
  padding-inline-start: var(--nav-tab-horizontal-padding);
  padding-inline-end: var(--nav-tab-horizontal-padding);
}


