ul {
  list-style: none;
}

ul > li a {
  text-decoration: none;
}

.dropdown_contents {
  display: none;
}

#dropdown_checkbox {
  width: 20px;
  height: 20px;
}
.dropdown_trigger {
  font-size: xx-large;
  font-weight: 900;
}

.dropdown_trigger:after{
  content: "▼";
  color: blueviolet;
}

input[type="checkbox"]:checked ~ .dropdown_contents {
  display: block;
}

