a.icon.icon_left::before {
  content:"";
  background-image: url('../icon-facebook.png');
  width: 2rem;
  height: 2rem;
  background-size: 100%;
  margin-inline-start: 1rem;
  margin-inline-end: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  background-position: left;
}

.icon {
  display: inline-block;
  border: 1px solid;
  background-color: orchid;
  padding: 1rem;
}

.example a {
  text-decoration: none;
  color: #00008b;
  font-weight: 900;
  font-size: x-large;
  padding-bottom: 1rem;
}

a.icon.icon_right::after{
  content:"";
  background-image: url('../icon-facebook.png');
  width: 2rem;
  height: 2rem;
  background-size: 100%;
  border-radius: 50%;
  display: inline-block;
  background-position: right;
  margin-inline-start: 1.5rem;
  margin-inline-end: 1rem;
}

