.icon {
  position: relative;
  display: inline-block;
  border: 1px solid;
  background-color: rgb(139, 137, 137);
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.icon_left {
  padding-left: 3rem;
  position: relative;
  font-weight: bold;
}

a.icon.icon_left::before {
  content:"";
  background-image: url('../icon-facebook.png');
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.icon_right {
  font-weight: bold;
  padding-right: 3rem;
  position: relative;
}

a.icon.icon_right::after{
  content:"";
  background-image: url('../icon-facebook.png');
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  right: 0.75rem;
  margin-top: -0.75rem;
  border-radius: 50%;
  display: block;
  position: absolute;
}
