.div a {
  background-image: url('../images/icon-facebook.png');
  position: absolute;
}
                    url('../images/icon-twitter.png'),
                    url('../images/icon-github.png');
  background-repeat: no-repeat;
  background-size: 50px,
                   50px,
                   50px;
                   background-position: center bottom;
}
