body {
  margin: 1rem;
}
header {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1rem;
  margin-block-start: 1rem;
}

h1 {
  border: 1rem solid;
  padding: 1rem;
  display: block;
  margin-inline: 1rem 1rem;
}

td:first-child {
  padding-inline-end: 1rem;
}

tr:nth-child(1) span {
  border-block-end: 1rem solid;
}

td:nth-child(2){
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

tr:nth-child(2) span {
  border-block-start: 1rem solid;
  border-block-end: 1rem solid;

}
td:last-child {
  padding-inline-start: 1rem;
}

tr:nth-child(3) span {
  border-block-start: 1rem solid;
}


table {
  padding: 2rem 1rem;
  display: block;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
}

footer > span {
  border: 1rem solid;
  display: block;
}


