/* font styling */
.example h1{
  font-size: 2.5rem;
  font-weight: 800;
  margin-block-end: 1em;
}

.example h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: 1em;
}
.example h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h6 {
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 1em;
  font-variant: small-caps;
}

.example intro {
  font-size: 2rem;
  font-weight: 400;
  margin-block-end: 1em;
  letter-spacing: 0.1em;
}

.example p {
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 1em;
}

.small {
  font-size: 0.75rem;
  font-weight: 400;
  margin-block-end: 1em;
}

/* sans serif */
#section_sans_serif * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* serif */
#section_serif *{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* monaspace */
#section_monospace *{
  font-family: 'Times New Roman', Times, serif;
}

/* fantasy */
#section_fantasy *{
  font-family: fantasy;
}

/* cursive */
#section_cursive *{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
