* {
/* Property name and property description */
font: defines a variety of font properties
font-family: defines the font for the text.
font-size: defines the font size for the text.
font-weight: specify the font weight of the text.
font-style: defines the font style for the text.
line-height: traces the height between lines of the text.

/* Property name and property description */
font-variant: specify the font variant.
font-stretch: expands the font of the text to become narrower or wider.
font-size-adjust: keeps the readability of the text.
font-synthesis: provides font style for the text.
letter-spacing: specifies the maximum or minimum of the space between every letter.
word-spacing: specifies the maximum or minimum of the space between every word.
text-align: places the text in proper position.
text-decoration: decorates the text with underline. .

/* propety name and property description */
text-decoration-line: adds decoration for the line.
text-decoration-style: adds decoration style for the text.
text-decoration-color: beautifier the text with colour to be more attractive.

/* property name and property description */
text-indent: sets the text in proper order or recognise how much space do we need.
text-transform: changes the form of the text into another way such as uppercase, lowercase or none.
vertical-align: affects the text to be in vertical position.
white-space: specifies the blank areas of the page. HTML does not support the white space, so we need this to control the white space behaviour.


/* Property example with a value */

}
.font-family {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-size{
  font: x-large;
}
.font-weight{
  font-weight: bold;
}
.font-style{
  font-style: italic;
}
.line-height{
  line-height: 0em;
}

.font-variant{
  font-variant: normal;
}
.font-stretch{
  font-stretch: narrower;
}
.font-size-adjust{
  font-size-adjust: initial;
}
.font-synthesis{
  font-synthesis: style;
}
.letter-spacing{
  letter-spacing: normal;
}
.word-spacing{
  word-spacing: 0em;
}
.text-align{
  text-align: center;
}

.text-decoration-line{
  text-decoration-line: overline;
  text-decoration-style: wavy;
  text-decoration-color: cyan;
}

.text-indent {
  text-indent: 0em;
}
.text-transform {
  text-transform: lowercase;
}
.vertical-align {
  vertical-align: middle;
}
.white-space {
  white-space: normal;
}
}
