footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  color: #999;
}

footer p {
  display: flex;
  justify-content: center;
  align-content: center;

}
/* footer */
footer > nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

footer > nav > ul li {
  margin-top: 1rem;
  margin-inline-end: 2rem;
}

