body > header {
  color: #fff;
  display: flex;
}

body > header h1 {
  margin-block-start: -3rem;
  font-size: 2rem;
  z-index: 1;


}

body > header a {
  color: inherit;
  text-decoration: none;
}
/* header */

