/* section Dory */
div{
  background-image: url('../images/coral-reef.png');
}

.reef{
}

#reef_1{
  hei
}
#section_dory {
  background-image: url('../images/sun.png'),

                    url('../images/coral-reef.png'),
                    url('../images/bubble.png'),
                    url('../images/crab.png'),
                    linear-gradient(180deg, rgba(22, 13 ,225) 0% 10%,rgb(223, 235, 10) 40% 60%S);
  background-size: 10%, 30%, 50%, 2%, 10%;
  background-position:0% 10%,
                      10% 20%,
                      40% 75%,
                      73% 100%,
                      100% ;
  background-repeat:
  no-repeat /*coral-reef*/
  no-repeat /*coral reef*/
  no-repeat /*bubble*/
  no-repeat /*crabe*/
}

/*section henry */
.henry{
  background-image: linear-gradient(180deg, lightblue 180%, green 180%),
                    url('../images/sun.png'),
                    url('../images/grass-clump.png'),
                    url('../images/grass-left.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100px;,
                   normal,
                   normal,

  background-position:20% 30,
                      40 80%,
                      30% 20;             }


/*section lu-seal */
.lu-seal{
  background-color: rgba(4, 109, 224, 0.25);
  background-image: url('../images/beach-ball.png'),
                    url('../images/palm-2.png'),
                    url('../images/sun.png'),
                    url('../images/palm.png'),
                    url('../images/lu-seal.png');
  background-position: center left, bottom right, top right, bottom left,center bottom;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 15%, 40%, 30%, 40%, 20%;
}
