/* nav li {
  visbility: hidden;
}
nav li:first-child {
  visibility: visible;
}
*/
/*li=[href

/* Visibility */
li:first-child {
  visibility: visible;
}

li:nth-last-of-type(2n) {
  visibility: hidden;
}

li:nth-of-type(2n+3) {
  visibility: hidden;
}

/* Display */
tr:nth-child(2n) {
  display: none;
}

tr:last-child > td:nth-last-of-type(2n+1) {
  display: none
}

span {
  display: none;
}

/* opacity */
span {
  opacity: 0.5;
}

