#overflow_invisible .example {
  overflow: hidden;
}

#overflow_scroll .example {
  overflow: scroll;
}

#clipping_circle .example{
  clip-path: circle(10% at 64.5% 25%);
}

#clipping_poly .example{
  clip-path: polygon(95% 47%, 93% 60%, 93% 74%, 69% 64%, 60% 41%, 79% 42%);
  overflow: visible;
}

.overclip img {
  overflow: hidden;
}

#overclip .example {
  clip-path: circle(30% at 58% 40%);
}

#overflow_ellipsis .example {
  text-overflow: ellipsis;
  overflow: auto;
  white-space: nowrap;
}
