section:nth-of-type(3) .container {
  position: relative;
  width: 200px;
  height: 200px;

}

section:nth-of-type(3) .container .circle{
  position: absolute;
}

section:nth-of-type(3) .container .rect{
  position: absolute;
  width: 50%;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 1px;
}

section:nth-of-type(3) .container .pipe{
  position: absolute;
  width: 50%;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 1px;

}

section:nth-of-type(3) .container .bar{
  position: absolute;
  width: 50%;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 1px;
}
