section:nth-of-type(1) .container{
  position: relative;
  width: 200px;
  height: 200px;
}

section:nth-of-type(1) .container .circle {
  position: absolute;
  width: 25%;
  bottom: 0%;
  right: 0%;
}

section:nth-of-type(1) .container .rect {
  width: 25%;
  position: absolute;
  top: 0%;
  left: 0%;
}


section:nth-of-type(1) .container  .pipe {
  position: absolute;
  width: 25%;
  bottom: 0%;
  left: 0%;
}

section:nth-of-type(1) .container .bar {
  width: 25%;
  position: absolute;
  top: 0%;
  right: 0%;

 }
