section:nth-of-type(1) .container{
  position: relative;
  width: 200px;
  height: 200px;
}

section:nth-of-type(1) .container .circle {
  position: absolute;
  width: 25%;
  bottom: -1px;
  right: -1px;
}

section:nth-of-type(1) .container .rect {
  width: 25%;
  position: absolute;
  top: -1px;
  left: 0.1px;
}


section:nth-of-type(1) .container  .pipe {
  position: absolute;
  width: 25%;
  bottom: -1px;
  left: 1px;
}

section:nth-of-type(1) .container .bar {
  width: 25%;
  position: absolute;
  top: 1px;
  right: -1px;

 }
